<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="cane.brothers.e4.efs.test2"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/cane.brothers.e4.efs.test2/css/default.css">
         </property>
         <property
               name="appName"
               value="cane.brothers.e4.efs.test2">
         </property>
      </product>
   </extension>

</plugin>
