<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e4 commander target" sequenceNumber="101">
<locations>
<location id="org.eclipse.e4.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.ecore" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.platform" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.common" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.common.ui" path="${eclipse_home}" type="Feature"/>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.core" version="1.0.7.v20121108-1250"/>
<unit id="ca.odell.glazedlists" version="1.9.0.v201303080712"/>
<unit id="ch.qos.logback.slf4j.source" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.lang.source" version="2.6.0.v201205030909"/>
<unit id="ch.qos.logback.classic.source" version="1.0.7.v20121108-1250"/>
<unit id="ca.odell.glazedlists.source" version="1.9.0.v201303080712"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v20121108-1250"/>
<unit id="ch.qos.logback.core.source" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.logging" version="1.1.1.v201101211721"/>
<unit id="ch.qos.logback.classic" version="1.0.7.v20121108-1250"/>
<unit id="org.apache.commons.lang" version="2.6.0.v201205030909"/>
<unit id="org.apache.commons.logging.source" version="1.1.1.v201101211721"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20130517111416/repository/"/>
</location>
<location id="org.eclipse.nebula.widgets.nattable.core.feature" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.nebula.widgets.nattable.core.source.feature" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.ecore.edit" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.ecore.editor" path="${eclipse_home}" type="Feature"/>
</locations>
</target>
