<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e4 Base RCP with Source" sequenceNumber="21">
<locations>
<location id="org.eclipse.e4.rcp" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.e4.rcp.source" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.ecore" path="${eclipse_home}" type="Feature"/>
<location id="org.eclipse.emf.common" path="${eclipse_home}" type="Feature"/>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER"/>
</target>
