<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="e4 commander target" sequenceNumber="29">
<locations>
<location path="D:\Java\workspaces\EclipseCommander\cane.brothers.e4.target\features" type="Directory"/>
<location path="D:\Java\workspaces\EclipseCommander\cane.brothers.e4.target\features.sources" type="Directory"/>
<location path="D:\Java\workspaces\EclipseCommander\cane.brothers.e4.target\plugins" type="Directory"/>
<location path="D:\Java\workspaces\EclipseCommander\cane.brothers.e4.target\plugins.sources" type="Directory"/>
</locations>
</target>
