<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="EclipseCommander">
         <property
               name="appName"
               value="EclipseCommander">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/cane.brothers.e4.commander/css/default.css">
         </property>
         <property
               name="applicationXMI"
               value="cane.brothers.e4.commander/Application.e4xmi">
         </property>
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="windowImages"
               value="icons/application_side_tree.png">
         </property>
         <property
               name="preferenceCustomization"
               value="preferences/plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="cane.brothers.e4.commander.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="cane.brothers.e4.commander.preferences.pages.GeneralPreferencePage"
            id="cane.brothers.e4.commander.preferences.GeneralPreferencePage"
            name="General Preferences">
      </page>
      <page
            class="cane.brothers.e4.commander.preferences.pages.TabsPreferencePage"
            id="cane.brothers.e4.commander.preferences.TabsPreferencePage"
            name="Tabs Preferences">
      </page>
   </extension>


</plugin>
